.wrapper {
    position: fixed;
    top: 0;
    right: 60px;
    left: 60px;
    height: 150px;
    font-size: 12px;
    line-height: 32px;
    font-weight: 500;
    color: #232f3e;
    z-index: 999;
}

.inner {
    margin: 0 -60px;
}

.top {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3b4149;
    background-color: #131921;
    color: #ffffffdb;
    font-weight: 400;
}

.top-left,
.logo {
    min-width: 280px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
}

.mobile-menu {
    display: none;
}

.middle {
    padding: 0 60px;
    display: flex;
    background-color: #131921;
    align-items: center;
    height: 80px;
}

.mid-right {
    display: flex;
    flex: 1;
    justify-content: right;
    color: white;
}

.item-icon {
    height: 25px;
    width: 50px;
}

.right-item {
    width: 7vw;
    height: 35px;
    display: flex;
    font-weight: 400;
    align-items: center;
}

.item {
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
}

.bottom {
    margin: 0 -60px;
    padding: 0 60px;
    display: flex;
    background-color: #20303d;
    color: #fff;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .middle {
        padding: 0;
    }

    .top-left {
        margin: 0 auto;
        text-align: center;
    }

    .logo {
        min-width: 112px;
        margin-left: 12px;
    }

    .top,
    .search,
    .mid-right,
    .bottom {
        display: none;
    }

    .middle {
        display: flex;
        justify-content: space-between;
        padding-right: 24px;
    }

    .mobile-menu {
        display: flex;
        align-items: flex-end;
    }
}
